Invalid email address accepted

Input: ```addperson n/Betsy Crowe t/friend e/1234@1234 a/Newgate Prison p/1234567```

Expected output: Reject input since email is invalid 
Actual output: Accepted 


![image.png](https://raw.githubusercontent.com/yl-ang/pe/main/files/5b0b2b44-30ca-4ff5-9ca1-a44d1a0634fd.png)


The app should check if the email ended with a domain name (.com) in the end. In the input above the email ends with 1233 which is clearly not valid, but the app accepts.


<!--session: 1650088639932-527687d1-2297-4a03-89a1-539bbcad2313-->
<!--Version: Web v3.4.2-->

[IMPORTANT!: Please do not edit or reply to this comment using the GitHub UI. You can respond to it using CATcher during the next phase of the PE]

# Team's Response
## Rationale

This is not a bug.

Referring to SMTP Specifications [RFC 5321 Section 2.3.5](https://datatracker.ietf.org/doc/html/rfc5321#section-2.3.5), domain names may be dotless, or in other words, does not require a subdomain component. This may be the case for TLD level email addresses or local networks where domains are likewise dotless. In particular, the document states

> A domain name (or often just a "domain") consists of one or more components, separated by dots if more than one appears.  In the case of a top-level domain used by itself in an email address, a single string is used without any dots.

This is corroborated by [Wikipedia](https://en.wikipedia.org/wiki/Email_address#Examples) and [HTML Email Input Validation](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email), which indicates that the email address above `betsycrowe@com` is indeed a valid email address.

# Items for the Tester to Verify

## :question: Issue response

Team chose [`response.Rejected`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your reason]

-------------------